*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
	overflow-x: hidden;
	overflow-y: hidden;
}
#Caja{
	display: flex;
	justify-content: center;
}
#Caja1{
	width: 50vw;
	height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
	background-color: blue;
	border-right: solid black 15px;
}
#Caja2{
	width: 50vw;
	height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
	background-color: red;
}
a{
	justify-content: center;
	font-size: 40em;
}
@media only screen and (min-height:900px){
	*{
		overflow: hidden;
	}
	#Caja{
		display: block;
	}
	#Caja1{
		width: 100vw;
		height: 50vh;
		border-bottom: solid Black 15px;
		border-right: none;
	}
	#Caja2{
		width: 100vw;
		height: 50vh;
	}
	a{
        margin: 15vh;
	}
}